NODE_ENV=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${HOST}/${DATABASE_NAME}

TWITCH_CLIENT_ID=xxxxx
TWITCH_CLIENT_SECRET=xxxxx
TWITCH_CALLBACK_URL=${URL}/auth/twitch/callback
TWITCH_WEBHOOK_SECRET=
TWITCH_WEBHOOK_CALLBACK_URL=

COOKIE_SECRET=

FRONTEND_URL=
OVERLAY_BASE_URL=

JWT_SECRET=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=